* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
}

.flex-item {
    background-color: #4CAF50;
    color: white;
    margin: 5px;
    padding: 20px;
    text-align: center;
    flex: 1;
}