* {
    margin: 0;
    padding: 0%;
}

body {
    min-height: 100vh;
    /* Full viewport height */
    background-image: url(static/Car.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: cursive;
}

nav {
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    /* Flexbox for horizontal layout */
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    /* Flexbox for centering */
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #b8b6b671;
}

nav li:first-child {
    margin-right: auto;
    /* Pushes the first item to the left that is the logo */
}

.sidebar {
    position: fixed;
    /* Fixed position */
    top: 0;
    right: 0;
    height: 100vh;
    /* Full viewport height */
    width: 250px;
    z-index: 999;
    /* High z-index to overlay other content */
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    /* Makes sidebar links take full width */
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
    /* Hidden by default */
}


/* Responsive adjustments */

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
        /* Hides elements with this class on mobile */
    }
    .menu-button {
        display: block;
        /* Shows the menu button on mobile */
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
        /* Sidebar takes full width on very small screens */
    }
}