.container {
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin: 20px auto;
}

.absolute {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: pink;
    padding: 10px;
}